/*
  ======================================

    ████████╗██╗  ██╗███████╗███╗   ███╗███████╗
    ╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝
       ██║   ███████║█████╗  ██╔████╔██║█████╗
       ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝
       ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗
       ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝

  ======================================
*/

@theme {
  --color-theme-100: #202020;
  --color-theme-200: #606060;
  --color-theme-300: #9f9f9f;
  --color-theme-400: #dfdfdf;
}
