<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Placeholder</title>
    <link rel="stylesheet" href="src/styles/css/index.css" />
  </head>
  <body>
    <div id="application"></div>
    <script src="src/libraries/yaml/js.yaml.min.js"></script>
    <script src="src/libraries/xstate/xstate.min.js"></script>
    <script src="src/libraries/xstate/xstate.machine.js"></script>
    <script src="src/libraries/controlkit/controlkit.min.js"></script>
    <script src="src/libraries/p5/p5.min.js"></script>
    <script src="src/libraries/p5/p5.svg.min.js"></script>
    <script src="src/libraries/p5/p5.sound.min.js"></script>
    <script src="src/libraries/ml5/ml5.min.js"></script>
    <script src="src/scripts/index.js"></script>
  </body>
</html>
